<div class="navbarTopMazeProject">
  <div class="mazeImgNavbar">
    <%= image_tag "mazeimage.png" %>
  </div>
  <div class="mazeTextNavbar">
    <h1>Maze</h1>
  </div>
  <h1 class="manageUserManagement">User Management</h1>
</div>

<div class="sidebar">
  <a><%=image_tag("feedImage2.png", style: "margin-right:22px")%><%= link_to "Feed", root_path(@post) , class: "manageFeedButtonMazeSideNavbarShowPage" %> </a>

  <div class="managemazeProjectLeftSidebarprofilelogoutImageConatiner">
    <a> <%=image_tag("profileImage.png", style: "margin-right:22px") %>  Profile</a>
    <a  ><%=image_tag("manageUser.png", style: "margin-right:22px") %>Manage User</a>
    <a class="feedImageButtonSideNavbar"><%= image_tag("reportsimage.png", style: "margin-right:22px; background-color:grey") %>Reports</a>
    <a><%=image_tag("logoutImage.png", style: "margin-right:22px") %><%= link_to "Logout",destroy_user_session_path, data: { "turbo-method": :delete } , class: "logOutButtonMazeSideNavbar" %></a>
    <%= button_to "Logout", destroy_user_session_path, method: :delete, form: {  data: { turbo: :false } } %>
  </div>

</div>

<div class="managemazeProjectRightSidebar">

  <div class="managemazeProjectRightSidebarTopNavbar">
    <%= image_tag("userImageEllipse1.png") %>
    <h2 style="margin-left: 80px; position: absolute;top: -14px">Vishal Agarwal</h2>
  </div>
</div>

<div class="manageSecondContainerMazeProject">
  <h1>hello</h1>

  <%#= link_to 'export users', reports_path(format: :csv) %>

</div>