<div>
  <nav class="navbarTopMazeProjectShowPage">
    <div class="mazeImgNavbarShowPage">
      <%= image_tag "mazeimage.png" %>
    </div>
    <div class="mazeTextNavbarShowPage">
      <h1>Maze</h1>
    </div>
    <input type="text" id="searchPostNavbarShowPage" placeholder="Search for something here... ">
  </nav>
</div>

<div class="sidebar">
  <a><%=image_tag("feedImage2.png", style: "margin-right:22px")%><%= link_to "Feed", root_path(@post) , class: "FeedButtonMazeSideNavbarShowPage" %> </a>
  <div class="mazeProjectLeftSidebarprofilelogoutImageConatiner">
    <a><%=image_tag("profileImage.png", style: "margin-right:22px") %>  Profile</a>
    <a><%=image_tag("logoutImage.png", style: "margin-right:22px") %><%= link_to "Logout",destroy_user_session_path, data: { "turbo-method": :delete } , class: "logOutButtonMazeSideNavbarShowPage" %></a>
  </div>
</div>

<div class="secondContainerMazeProjectShowPage">
  <br>
  <div class="thirdContainerPostBodyShowPage">
    <div class="thirdContainerTitleBarShowPage">
      <%= image_tag "mazeimage.png" %>
      <div class="thirdConatinerUserNameTimeStampShowPage">
        <div class="thirdContainerUserNameShowPage"><%=  @post.user.first_name %> <%= @post.user.last_name %><br></div>
        <div class="thirdContainerTimeStampShowPage"><%= time_ago_in_words(@post.created_at)%>, public</div>
      </div>
      <div class="dropShowdown" >
        <span class="dropShowbtn">...</span>
        <div class="dropShowdown-content">
          <%= link_to "Edit", edit_post_path(@post) %>
          <%= link_to "Destroy", post_path(@post), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          } %>
        </div>
      </div>
      <p><%= @post.body %></p>

      <br>
      <hr color="lightgrey">
      <br>
      <div class="thirdContainerLikeCommentPicsShowPage">
        <div class="thirdContainerLikePicShowPage">
          <div><%= image_tag "heart.png" %></div>
          <div>Like</div>
        </div>
        <div class="thirdContainerCommentPicShowPage">
          <div><%= image_tag "comment.png" %></div>
          <div>comment</div>

        </div>
        <br>
      </div>
      <br>
      <hr color="lightgrey">
      <br>

      <%= render 'comments/form' %>

      <h2 style="color: rgba(96, 97, 101, 0.6);">Comments</h2>
      <hr color="lightgrey">
      <%= render @post.comments %>

    </div>

  </div>
</div>














